[client]
port = 3906

[mysql]
port = 3906

[mysqld]
port = 3906
bind-address = 0.0.0.0

max_connections = ${ldp_mysql_max_connections}
innodb_buffer_pool_size = ${ldp_mysql_innodb_buffer_pool_size}
tmp_table_size = ${ldp_mysql_tmp_table_size}
max_heap_table_size = ${ldp_mysql_max_heap_table_size}

skip-log-bin
default_storage_engine = InnoDB
log_timestamps = SYSTEM
default_authentication_plugin = 'mysql_native_password'
server-id = 106
max_connect_errors = 1000
tmpdir = /tmp
log_error = /var/log/mysql/mysql.log
