.banner {
  background-color: var(--color-bg-2);
  padding: 20px;
}

.wrapper {
  display: flex;
  width: 100%;
}

.right {
  width: calc(60% - 16px);
}

.left {
  width: 45%;
  margin-right: 16px;
}

.panel {
  background-color: var(--color-bg-2);
  border-radius: 4px;
  overflow: auto;
}

@nav-size-height: 60px;

.spin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh);
}

:global{
  .disable-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10 and IE Edge */
    user-select: none;
  }

}
