<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstep.lighthouse.insights.dao.AlarmDao">

    <resultMap id="alarmResultMap" type="com.dtstep.lighthouse.common.modal.Alarm">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="uniqueCode" column="unique_code"/>
        <result property="divide" column="divide" typeHandler="com.dtstep.lighthouse.insights.types.BooleanTypeHandler"/>
        <result property="resourceId" column="resource_id"/>
        <result property="resourceType" column="resource_type" typeHandler="com.dtstep.lighthouse.insights.types.ResourceTypeEnumTypeHandler"/>
        <result property="state" column="state" typeHandler="com.dtstep.lighthouse.insights.types.BooleanTypeHandler"/>
        <result property="match" column="match" typeHandler="com.dtstep.lighthouse.insights.types.AlarmMatchEnumTypeHandler"/>
        <result property="conditions" column="conditions" typeHandler="com.dtstep.lighthouse.insights.types.ListConfigTypeHandler"/>
        <result property="templateId" column="template_id"/>
        <result property="delay" column="delay"/>
        <result property="silent" column="silent"/>
        <result property="desc" column="desc"/>
        <result property="dimens" column="dimens"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.dtstep.lighthouse.common.modal.Alarm" >
        INSERT INTO ldp_alarms (`title`,`unique_code`,`divide`,`resource_id`,`resource_type`,`state`
                               ,`match`,`conditions`,`template_id`,`delay`,`silent`,`recover`,`desc`,`dimens`,`create_time`,`update_time`) VALUES
        (
            #{title,jdbcType=VARCHAR},
            #{uniqueCode,jdbcType=VARCHAR},
            #{divide,typeHandler=com.dtstep.lighthouse.insights.types.BooleanTypeHandler},
            #{resourceId,jdbcType=INTEGER},
            #{resourceType,typeHandler=com.dtstep.lighthouse.insights.types.ResourceTypeEnumTypeHandler},
            #{state,typeHandler=com.dtstep.lighthouse.insights.types.BooleanTypeHandler},
            #{match,typeHandler=com.dtstep.lighthouse.insights.types.AlarmMatchEnumTypeHandler},
            #{conditions,typeHandler=com.dtstep.lighthouse.insights.types.ListConfigTypeHandler},
            #{templateId,jdbcType=INTEGER},
            #{delay,jdbcType=INTEGER},
            #{silent,jdbcType=INTEGER},
            #{recover,typeHandler=com.dtstep.lighthouse.insights.types.BooleanTypeHandler},
            #{desc,jdbcType=VARCHAR},
            #{dimens,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="queryById" resultMap="alarmResultMap">
        SELECT `id`,`title`,`unique_code`,`divide`,`resource_id`,`resource_type`,`state`
             ,`match`,`conditions`,`template_id`,`delay`,`silent`,`desc`,`dimens`,`create_time`,`update_time` FROM ldp_alarms WHERE id = #{id}
    </select>

    <select id="queryByParam" resultMap="alarmResultMap">
        SELECT `id`,`title`,`unique_code`,`divide`,`resource_id`,`resource_type`,`state`
             ,`match`,`conditions`,`template_id`,`delay`,`silent`,`desc`,`dimens`,`create_time`,`update_time` FROM ldp_alarms
        <where>
            <if test="queryParam.resourceId != null">
                AND resource_id = #{queryParam.resourceId}
            </if>
            <if test="queryParam.resourceType != null">
                AND resource_type = #{queryParam.resourceType.resourceType}
            </if>
        </where>
        order by create_time desc limit 1
    </select>

    <select id="queryList" resultMap="alarmResultMap">
        WITH RECURSIVE RoleHierarchy AS (
        SELECT r.id AS role_id, r.resource_id, r.role_type
        FROM ldp_permissions p
        JOIN ldp_roles r ON p.role_id = r.id
        WHERE p.owner_id = #{queryParam.userId} and p.owner_type = 1
        UNION ALL
        SELECT r.id AS role_id, r.resource_id, r.role_type
        FROM ldp_roles r
        JOIN RoleHierarchy rh ON r.pid = rh.role_id
        )
        SELECT a.`id`, a.`title`, a.`unique_code`, a.`divide`, a.`resource_id`, a.`resource_type`, a.`state`,
        a.`match`, a.`conditions`, a.`template_id`, a.`delay`, a.`silent`, a.`desc`, a.`dimens`,
        a.`create_time`, a.`update_time`
        FROM ldp_alarms a
        JOIN ldp_stats s ON a.resource_id = s.id
        WHERE a.resource_type = 6
        AND a.resource_id IN (
        SELECT resource_id
        FROM RoleHierarchy
        WHERE role_type = 13
        )
        <if test="queryParam.search != null">
            AND (a.title LIKE CONCAT('%', #{queryParam.search}, '%') or a.id = #{queryParam.search} or a.unique_code like CONCAT('%', #{queryParam.search}, '%'))
        </if>
        order by a.create_time desc
    </select>

    <select id="countByParam" resultType="int">
        SELECT count(1) FROM ldp_alarms
        <where>
            <if test="queryParam.uniqueCode != null">
                AND unique_code = #{queryParam.uniqueCode}
            </if>
        </where>
    </select>

    <update id="update" parameterType="com.dtstep.lighthouse.common.modal.Alarm">
        UPDATE ldp_alarms
        <set>
            <if test="title != null">
                `title` = #{title},
            </if>
            <if test="uniqueCode != null">
                `unique_code` = #{uniqueCode},
            </if>
            <if test="divide != null">
                `divide` = #{divide,typeHandler=com.dtstep.lighthouse.insights.types.BooleanTypeHandler},
            </if>
            <if test="resourceId != null">
                `resource_id` = #{resourceId},
            </if>
            <if test="resourceType != null">
                `resource_type` = #{resourceType,typeHandler=com.dtstep.lighthouse.insights.types.ResourceTypeEnumTypeHandler},
            </if>
            <if test="state != null">
                `state` = #{state,typeHandler=com.dtstep.lighthouse.insights.types.BooleanTypeHandler},
            </if>
            <if test="match != null">
                `match` = #{match,typeHandler=com.dtstep.lighthouse.insights.types.AlarmMatchEnumTypeHandler},
            </if>
            <if test="conditions != null">
                `conditions` = #{conditions,typeHandler=com.dtstep.lighthouse.insights.types.ListConfigTypeHandler},
            </if>
            <if test="templateId != null">
                `template_id` = #{templateId},
            </if>
            <if test="delay != null">
                `delay` = #{delay},
            </if>
            <if test="silent != null">
                `silent` = #{silent},
            </if>
            <if test="desc != null">
                `desc` = #{desc},
            </if>
            <if test="dimens != null">
                `dimens` = #{dimens},
            </if>
            <if test="updateTime != null">
                `update_time` = #{updateTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        delete from ldp_alarms where id = #{id}
    </delete>
</mapper>