<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstep.lighthouse.insights.dao.AlarmTemplateDao">

    <resultMap id="alarmTemplateResultMap" type="com.dtstep.lighthouse.common.modal.AlarmTemplate">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="desc" column="desc"/>
        <result property="config" column="config"/>
        <result property="createUser" column="create_user"/>
        <result property="userIds" column="user_ids" typeHandler="com.dtstep.lighthouse.insights.types.ListIntegerTypeHandler"/>
        <result property="departmentIds" column="department_ids" typeHandler="com.dtstep.lighthouse.insights.types.ListIntegerTypeHandler"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.dtstep.lighthouse.common.modal.AlarmTemplate" >
        INSERT INTO ldp_alarm_templates (`title`,`config`,`create_user`,`desc`,`user_ids`,`department_ids`,`create_time`,`update_time`) VALUES
        (
            #{title,jdbcType=VARCHAR},
            #{config,jdbcType=VARCHAR},
            #{createUser,jdbcType=INTEGER},
            #{desc,jdbcType=VARCHAR},
            #{userIds,typeHandler=com.dtstep.lighthouse.insights.types.ListIntegerTypeHandler},
            #{departmentIds,typeHandler=com.dtstep.lighthouse.insights.types.ListIntegerTypeHandler},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="queryById" resultMap="alarmTemplateResultMap">
        SELECT `id`,`title`,`config`,`create_user`,`desc`,`user_ids`,`department_ids`,`create_time`,`update_time` FROM ldp_alarm_templates WHERE id = #{id}
    </select>

    <select id="queryByUserId" resultMap="alarmTemplateResultMap">
        SELECT `id`,`title`,`config`,`create_user`,`desc`,`user_ids`,`department_ids`,`create_time`,`update_time` FROM ldp_alarm_templates WHERE create_user = #{userId}
    </select>

    <select id="countByUserId" resultType="int">
        SELECT count(1) FROM ldp_alarm_templates WHERE create_user = #{userId}
    </select>
</mapper>