<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstep.lighthouse.insights.dao.AssetDao">
    <resultMap id="assetResultMap" type="com.dtstep.lighthouse.common.modal.Asset">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="assetType" column="asset_type" typeHandler="com.dtstep.lighthouse.insights.types.AssetTypeEnumTypeHandler"/>
        <result property="path" column="path"/>
        <result property="userId" column="user_id"/>
        <result column="private_type" property="privateType" typeHandler="com.dtstep.lighthouse.insights.types.PrivateTypeEnumTypeHandler"/>
        <result property="configs" column="configs"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.dtstep.lighthouse.common.modal.Asset" >
        INSERT INTO ldp_assets (`name`,`asset_type`,`path`,`user_id`,`private_type`,`configs`,`create_time`,`update_time`) VALUES
        (
            #{name,jdbcType=VARCHAR},
            #{assetType,jdbcType=VARCHAR,typeHandler=com.dtstep.lighthouse.insights.types.AssetTypeEnumTypeHandler},
            #{path,jdbcType=VARCHAR},
            #{userId,jdbcType=INTEGER},
            #{privateType,jdbcType=INTEGER,typeHandler=com.dtstep.lighthouse.insights.types.PrivateTypeEnumTypeHandler},
            #{configs,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <delete id="deleteById">
        delete from ldp_assets where id = #{id}
    </delete>

    <select id="queryById" resultMap="assetResultMap">
        SELECT `id`,`name`,`asset_type`,`path`,`user_id`,`private_type`,`configs`,`create_time`,`update_time` FROM ldp_assets WHERE id = #{id}
    </select>

    <select id="queryList" resultMap="assetResultMap">
        select `id`,`name`,`asset_type`,`path`,`user_id`,`private_type`,`configs`,`create_time`,`update_time` from ldp_assets
        <where>
            <if test="queryParam.assetType != null ">
                AND asset_type = #{queryParam.assetType.type}
            </if>
            <if test="queryParam.userId != null">
                AND user_id = #{queryParam.userId}
            </if>
            <if test="queryParam.search != null">
                AND `name` LIKE CONCAT('%', #{queryParam.search}, '%')
            </if>
        </where>
        order by create_time desc
    </select>

    <update id="update" parameterType="com.dtstep.lighthouse.common.modal.Asset">
        UPDATE ldp_assets
        <set>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="assetType != null">
                `asset_type` = #{assetType.type},
            </if>
            <if test="updateTime != null">
                `update_time` = #{updateTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>