<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstep.lighthouse.insights.dao.CallerDao">

    <resultMap id="callerResultMap" type="com.dtstep.lighthouse.common.modal.Caller">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="secretKey" column="secret_key"/>
        <result property="departmentId" column="department_id"/>
        <result property="desc" column="desc"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.dtstep.lighthouse.common.modal.Caller" >
        INSERT INTO ldp_callers (`name`,`secret_key`,`department_id`,`desc`,`create_time`,`update_time`) VALUES
        (
            #{name,jdbcType=VARCHAR},
            #{secretKey,jdbcType=VARCHAR},
            #{departmentId,jdbcType=VARCHAR},
            #{desc,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="queryById" resultMap="callerResultMap">
        SELECT `id`,`name`,`department_id`,`desc`,`create_time`,`update_time` FROM ldp_callers WHERE id = #{id}
    </select>

    <select id="getSecretKey" resultType="String">
        SELECT `secret_key` FROM ldp_callers WHERE id = #{id}
    </select>

    <update id="update" parameterType="com.dtstep.lighthouse.common.modal.Caller">
        UPDATE ldp_callers
        <set>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="departmentId != null">
                `department_id` = #{departmentId},
            </if>
            <if test="desc != null">
                `desc` = #{desc},
            </if>
            <if test="updateTime != null">
                `update_time` = #{updateTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="count" resultType="int">
        SELECT count(1) FROM ldp_callers
        <where>
            <if test="queryParam.name != null">
                AND name = #{queryParam.name}
            </if>
        </where>
    </select>

    <delete id="deleteById">
        delete from ldp_callers where id = #{id}
    </delete>

    <select id="queryList" resultMap="callerResultMap">
        WITH RECURSIVE cte AS (
        SELECT d.id
        FROM ldp_departments d
        <where>
            <if test="queryParam.departmentIds != null and queryParam.departmentIds.size > 0">
                AND d.id IN
                <foreach item="item" index="index" collection="queryParam.departmentIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        UNION ALL
        SELECT d.id
        FROM ldp_departments d
        JOIN cte ON cte.id = d.pid
        )
        SELECT c.id, c.name, c.`department_id`,c.desc, c.`create_time`, c.`update_time`
        FROM ldp_callers c
        JOIN (
        SELECT r.id, r.resource_id
        FROM ldp_roles r
        WHERE r.role_type = '19'
        ) r ON c.id = r.resource_id
        <if test="queryParam.ownerId != null">
            JOIN ldp_permissions p ON r.id = p.role_id
            WHERE p.owner_id = #{queryParam.ownerId} and owner_type = '1'
        </if>
        <if test="queryParam.search != null">
            <if test="queryParam.ownerId == null">
                WHERE
            </if>
            <if test="queryParam.ownerId != null">
                AND
            </if>
            c.name LIKE CONCAT('%', #{queryParam.search}, '%')
        </if>
        <if test="queryParam.departmentIds != null and queryParam.departmentIds.size > 0">
            AND department_id IN(
            select id from cte
            )
        </if>
    </select>
</mapper>