<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dtstep.lighthouse.insights.dao.GroupDao">

    <resultMap id="groupResultMap" type="com.dtstep.lighthouse.insights.modal.Group">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="columns" column="columns"
                jdbcType="VARCHAR"
                typeHandler="com.dtstep.lighthouse.insights.types.GroupColumnArrayTypeHandler"/>
        <result property="refreshTime" column="refresh_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
        <result property="secretKey" column="secret_key"/>
        <result property="debugMode" column="debug_mode"/>
        <result property="projectId" column="project_id"/>
        <result property="state" column="state" typeHandler="com.dtstep.lighthouse.insights.types.GroupStateEnumTypeHandler"/>
        <result property="extendConfig" column="extend_config" typeHandler="com.dtstep.lighthouse.insights.types.GroupConfigTypeHandler"/>
    </resultMap>

    <insert id="insert" parameterType="com.dtstep.lighthouse.insights.modal.Group" >
        INSERT INTO ldp_stat_group (`token`,`project_id`,`columns`,`secret_key`,
                                    `state`,`desc`,
                                    `extend_config`,`debug_mode`,`refresh_time`,`create_time`,`update_time`) VALUES
        (
            #{token,jdbcType=VARCHAR},
            #{projectId,jdbcType=INTEGER},
            #{columns,typeHandler=com.dtstep.lighthouse.insights.types.GroupColumnArrayTypeHandler},
            #{secretKey,jdbcType=VARCHAR},
            #{state,jdbcType=INTEGER,typeHandler=com.dtstep.lighthouse.insights.types.GroupStateEnumTypeHandler},
            #{desc,jdbcType=VARCHAR},
            #{extendConfig,jdbcType=VARCHAR,typeHandler=com.dtstep.lighthouse.insights.types.GroupConfigTypeHandler},
            #{debugMode,jdbcType=INTEGER},
            #{refreshTime,jdbcType=TIMESTAMP},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="queryById" resultMap="groupResultMap">
        SELECT `id`,`token`,`project_id`,`columns`,`secret_key`,
               `state`,`desc`,
               `extend_config`,`debug_mode`,`refresh_time`,`create_time`,`update_time`
        FROM ldp_stat_group WHERE id = #{id}
    </select>
</mapper>