<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstep.lighthouse.insights.dao.MetricSetDao">
    <resultMap id="metricSetResultMap" type="com.dtstep.lighthouse.common.modal.MetricSet">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="private_type" property="privateType" typeHandler="com.dtstep.lighthouse.insights.types.PrivateTypeEnumTypeHandler"/>
        <result column="desc" property="desc"/>
        <result column="create_user" property="createUserId"/>
        <result column="structure" property="structure" typeHandler="com.dtstep.lighthouse.insights.types.TreeNodeTypeHandler"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="indicatorResultMap" type="com.dtstep.lighthouse.common.modal.Indicator">
        <id column="resource_id" property="resourceId"/>
        <result column="title" property="title"/>
        <result column="resource_type" property="resourceType" typeHandler="com.dtstep.lighthouse.insights.types.ResourceTypeEnumTypeHandler"/>
        <result column="full_path" property="fullPath"/>
        <result column="full_title" property="fullTitle"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.dtstep.lighthouse.common.modal.MetricSet">
        INSERT INTO ldp_metricsets (`title`,`private_type`,`desc`,`create_user`,`create_time`,`update_time`) VALUES
        (
            #{title,jdbcType=VARCHAR},
            #{privateType,jdbcType=INTEGER,typeHandler=com.dtstep.lighthouse.insights.types.PrivateTypeEnumTypeHandler},
            #{desc,jdbcType=VARCHAR},
            #{createUserId,jdbcType=INTEGER},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="queryList" resultMap="metricSetResultMap">
        WITH RECURSIVE depart_cte AS (
        SELECT d.id,d.pid
        FROM ldp_departments d
        where id in (SELECT department_id
        FROM ldp_users
        WHERE id = #{queryParam.ownerId})
        UNION ALL
        SELECT d.id,d.pid
        FROM ldp_departments d
        JOIN depart_cte ON depart_cte.pid = d.id
        )
        select `id`,`title`,`private_type`,`desc`,`create_time`,`create_user`,`update_time` from ldp_metricsets
        <if test="queryParam.ownerFlag == 1">
            inner join
            (select resource_id from (select id,resource_id from ldp_roles where role_type = '15') a
            inner join
            (select role_id from ldp_permissions where owner_type = 1 and owner_id = #{queryParam.ownerId}) b on a.id = b.role_id) d on id = d.resource_id
        </if>
        <if test="queryParam.ownerFlag == 0">
            inner join
            (select resource_id from (select resource_id from (select id,resource_id from ldp_roles where role_type in ('15','16')) a
            inner join
            (select role_id from (select role_id from ldp_permissions where owner_type = 1 and owner_id = #{queryParam.ownerId} union all select role_id FROM ldp_permissions
            WHERE owner_id IN (
                SELECT id
                FROM depart_cte
            )
            AND owner_type = '2' ) t group by role_id) b on a.id = b.role_id
            union all
            select id as resource_id from ldp_metricsets where private_type = '1'
            ) e group by resource_id) d on id = d.resource_id
        </if>
        <where>
            <if test="queryParam.ids != null and queryParam.ids.size > 0">
                AND id IN
                <foreach item="item" index="index" collection="queryParam.ids" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="queryParam.search != null">
                AND (title LIKE CONCAT('%', #{queryParam.search}, '%') or id = #{queryParam.search})
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT count(1) from ldp_metricsets
        <where>
            <if test="queryParam.createStartTime!=null">
                AND create_time &gt;= #{queryParam.createStartTime}
            </if>
            <if test="queryParam.createEndTime!=null">
                AND create_time &lt;= #{queryParam.createEndTime}
            </if>
        </where>
    </select>

    <select id="queryIndicatorList" resultMap="indicatorResultMap">
        SELECT f.resource_id, f.resource_type, f.title,f.full_path,f.full_title,f.create_time
        FROM (
                 SELECT a.`id` as resource_id, '6' as resource_type, a.title ,CONCAT_WS(';',d.`id`, e.`id`,a.`id`) as full_path,CONCAT_WS(';',d.`title`, e.`token`,a.`title`) as full_title,a.create_time as create_time
                 FROM ldp_stats a
                          INNER JOIN ldp_projects d ON a.project_id = d.id
                          INNER JOIN ldp_groups e ON a.group_id = e.id
                 WHERE a.id IN (
                     SELECT resource_id
                     FROM ldp_relations
                     WHERE resource_type = '6'
                       AND subject_id = #{id}
                       AND relation_type = '1'
                 )
                 UNION ALL
                 SELECT c.`id` as resource_id, '6' as resource_type, c.title, CONCAT_WS(';',d.`id`, e.`id`,c.`id`) as full_path,CONCAT_WS(';',d.`title`, e.`token`,c.`title`) as full_title,c.create_time as create_time
                 FROM ldp_stats c
                          INNER JOIN ldp_projects d ON c.project_id = d.id
                          INNER JOIN ldp_groups e ON c.group_id = e.id
                 WHERE d.id IN (
                     SELECT resource_id
                     FROM ldp_relations
                     WHERE resource_type = '4'
                       AND subject_id = #{id}
                       AND relation_type = '1'
                 )
                 UNION ALL
                 SELECT b.`id` as resource_id, '8' as resource_type, b.title, b.`id` as full_path,b.title as full_title,b.create_time as create_time
                 FROM ldp_views b
                 WHERE b.id IN (
                     SELECT resource_id
                     FROM ldp_relations
                     WHERE resource_type = '8'
                       AND subject_id = #{id}
                       AND relation_type = '1'
                 )
             ) f
    </select>

    <update id="update" parameterType="com.dtstep.lighthouse.common.modal.MetricSet">
        UPDATE ldp_metricsets
        <set>
            <if test="title != null">
                `title` = #{title},
            </if>
            <if test="privateType != null">
                `private_type` = #{privateType,jdbcType=INTEGER,typeHandler=com.dtstep.lighthouse.insights.types.PrivateTypeEnumTypeHandler},
            </if>
            <if test="desc != null">
                `desc` = #{desc},
            </if>
            <if test="structure != null">
                `structure` = #{structure,typeHandler=com.dtstep.lighthouse.insights.types.TreeNodeTypeHandler},
            </if>
            <if test="updateTime != null">
                `update_time` = #{updateTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        delete from ldp_metricsets where id = #{id}
    </delete>

    <select id="queryById" resultMap="metricSetResultMap">
        SELECT `id`,`title`,`private_type`,`desc`,`structure`,`create_user`,`create_time`,`update_time` FROM ldp_metricsets WHERE id = #{id}
    </select>
</mapper>