<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstep.lighthouse.insights.dao.MetricSetDao">
    <resultMap id="metricSetResultMap" type="com.dtstep.lighthouse.insights.modal.MetricSet">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="private_type" property="privateType" typeHandler="com.dtstep.lighthouse.insights.types.PrivateTypeEnumTypeHandler"/>
        <result column="desc" property="desc"/>
        <result column="structure" property="structure" typeHandler="com.dtstep.lighthouse.insights.types.TreeNodeTypeHandler"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="indicatorResultMap" type="com.dtstep.lighthouse.insights.modal.Indicator">
        <id column="resource_id" property="resourceId"/>
        <result column="title" property="title"/>
        <result column="resource_type" property="resourceType" typeHandler="com.dtstep.lighthouse.insights.types.ResourceTypeEnumTypeHandler"/>
        <result column="full_path" property="fullPath"/>
        <result column="full_title" property="fullTitle"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.dtstep.lighthouse.insights.modal.MetricSet">
        INSERT INTO ldp_metricsets (`title`,`private_type`,`desc`,`create_time`,`update_time`) VALUES
        (
            #{title,jdbcType=VARCHAR},
            #{privateType,jdbcType=INTEGER,typeHandler=com.dtstep.lighthouse.insights.types.PrivateTypeEnumTypeHandler},
            #{desc,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="queryList" resultMap="metricSetResultMap">
        select `id`,`title`,`private_type`,`desc`,`create_time`,`update_time` from ldp_metricsets
        <if test="queryParam.ownerId != null">
            inner join
            (select resource_id from (select id,resource_id from ldp_roles where role_type = '15') a
            inner join
            (select role_id from ldp_permissions where owner_type = 1 and owner_id = #{queryParam.ownerId}) b on a.id = b.role_id) d on id = d.resource_id
        </if>
        <where>
            <if test="queryParam.ids != null">
                AND id IN
                <foreach item="item" index="index" collection="queryParam.ids" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="queryParam.search != null">
                AND (title LIKE CONCAT('%', #{queryParam.search}, '%') or id = #{queryParam.search})
            </if>
        </where>
    </select>

    <select id="queryIndicatorList" resultMap="indicatorResultMap">
        select f.* from (SELECT a.`id` as resource_id,'6' as resource_type, a.title, CONCAT_WS(';', a.project_id, a.group_id,a.id) as full_path,CONCAT_WS(';', b.title, c.token,a.title) as full_title,a.create_time
                         FROM ldp_stats a
                                  inner join ldp_projects b on a.project_id = b.id
                                  inner join ldp_groups c on a.group_id = c.id ) f
                            inner join (
            select resource_id from (
                                        select a.resource_id as resource_id from ldp_relations a
                                                                                     inner join ldp_stats b on a.resource_id = b.id
                                        where a.resource_type = '6' and a.subject_id = #{id} and a.relation_type='1'
                                        union all
                                        select b.id as resource_id from ldp_stats b
                                        where b.project_id in (select resource_id from ldp_relations a where a.resource_type = '4' and a.subject_id = #{id} and a.relation_type='1')
                                    ) t group by resource_id
        ) d on f.resource_id = d.resource_id
    </select>

    <update id="update" parameterType="com.dtstep.lighthouse.insights.modal.MetricSet">
        UPDATE ldp_metricsets
        <set>
            <if test="title != null">
                `title` = #{title},
            </if>
            <if test="privateType != null">
                `private_type` = #{privateType,jdbcType=INTEGER,typeHandler=com.dtstep.lighthouse.insights.types.PrivateTypeEnumTypeHandler},
            </if>
            <if test="desc != null">
                `desc` = #{desc},
            </if>
            <if test="structure != null">
                `structure` = #{structure,typeHandler=com.dtstep.lighthouse.insights.types.TreeNodeTypeHandler},
            </if>
            <if test="updateTime != null">
                `update_time` = #{updateTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        delete from ldp_metricsets where id = #{id}
    </delete>

    <select id="queryById" resultMap="metricSetResultMap">
        SELECT `id`,`title`,`private_type`,`desc`,`structure`,`create_time`,`update_time` FROM ldp_metricsets WHERE id = #{id}
    </select>
</mapper>