<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstep.lighthouse.insights.dao.OrderDetailDao">
    <resultMap id="orderDetailMap" type="com.dtstep.lighthouse.insights.modal.OrderDetail">
        <id property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="userId" column="user_id"/>
        <result property="state" column="state" typeHandler="com.dtstep.lighthouse.insights.types.ApproveStateEnumTypeHandler"/>
        <result property="roleId" column="role_id"/>
        <result property="roleType" column="role_type" typeHandler="com.dtstep.lighthouse.insights.types.RoleTypeEnumTypeHandler"/>
        <result property="reply" column="reply"/>
        <result property="createTime" column="create_time"/>
        <result property="approveTime" column="approve_time"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.dtstep.lighthouse.insights.modal.OrderDetail" >
        INSERT INTO ldp_order_details (`order_id`,`user_id`,`state`,`role_id`,`role_type`,`reply`,`create_time`,`approve_time`) VALUES
        (
            #{orderId,jdbcType=INTEGER},
            #{userId,jdbcType=INTEGER},
            #{state,jdbcType=INTEGER,typeHandler=com.dtstep.lighthouse.insights.types.ApproveStateEnumTypeHandler},
            #{roleId,jdbcType=INTEGER},
            #{roleType,jdbcType=INTEGER,typeHandler=com.dtstep.lighthouse.insights.types.RoleTypeEnumTypeHandler},
            #{reply,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{approveTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO ldp_order_details (`order_id`,`user_id`,`state`,`role_id`,`role_type`,`reply`,`create_time`,`approve_time`) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.orderId,jdbcType=INTEGER},
            #{item.userId,jdbcType=INTEGER},
            #{item.state,jdbcType=INTEGER,typeHandler=com.dtstep.lighthouse.insights.types.ApproveStateEnumTypeHandler},
            #{item.roleId,jdbcType=INTEGER},
            #{item.roleType,jdbcType=INTEGER,typeHandler=com.dtstep.lighthouse.insights.types.RoleTypeEnumTypeHandler},
            #{item.reply,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.approveTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <select id="queryList" resultMap="orderDetailMap">
        select `id`,`order_id`,`user_id`,`state`,`role_id`,`role_type`,`reply`,`create_time`,`approve_time`
        from ldp_order_details where order_id = #{orderId}
    </select>

    <update id="updateDetail" parameterType="com.dtstep.lighthouse.insights.modal.OrderDetail">
        UPDATE ldp_order_details
        <set>
            <if test="state != null">
                `state` = #{state.state},
            </if>
            <if test="reply != null">
                `reply` = #{reply},
            </if>
            <if test="userId != null">
                `user_id` = #{userId},
            </if>
            <if test="approveTime != null">
                `approve_time` = #{approveTime},
            </if>
        </set>
        WHERE order_id = #{orderId} and role_id = #{roleId}
    </update>
</mapper>