<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstep.lighthouse.insights.dao.OrderDao">
    <resultMap id="orderResultMap" type="com.dtstep.lighthouse.common.modal.Order">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="orderType" column="order_type" typeHandler="com.dtstep.lighthouse.insights.types.OrderTypeEnumTypeHandler"/>
        <result property="state" column="state" typeHandler="com.dtstep.lighthouse.insights.types.OrderStateEnumTypeHandler"/>
        <result property="steps" column="steps" typeHandler="com.dtstep.lighthouse.insights.types.ListConfigTypeHandler"/>
        <result property="extendConfig" column="extend_config" typeHandler="com.dtstep.lighthouse.insights.types.MapConfigTypeHandler"/>
        <result property="hash" column="hash"/>
        <result property="currentNode" column="current_node"/>
        <result property="reason" column="reason"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.dtstep.lighthouse.common.modal.Order" >
        INSERT INTO ldp_orders (`user_id`,`order_type`,`state`,`steps`,`extend_config`,
                                    `hash`,`current_node`,
                                    `reason`,`create_time`,`update_time`) VALUES
        (
            #{userId,jdbcType=INTEGER},
            #{orderType,jdbcType=INTEGER,typeHandler=com.dtstep.lighthouse.insights.types.OrderTypeEnumTypeHandler},
            #{state,jdbcType=INTEGER,typeHandler=com.dtstep.lighthouse.insights.types.OrderStateEnumTypeHandler},
            #{steps,jdbcType=VARCHAR,typeHandler=com.dtstep.lighthouse.insights.types.ListConfigTypeHandler},
            #{extendConfig,jdbcType=VARCHAR,typeHandler=com.dtstep.lighthouse.insights.types.MapConfigTypeHandler},
            #{hash,jdbcType=VARCHAR},
            #{currentNode,jdbcType=INTEGER},
            #{reason,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="queryById" resultMap="orderResultMap">
        SELECT `id`,`user_id`,`order_type`,`state`,`steps`,`extend_config`,
               `hash`,`current_node`,
               `reason`,`create_time`,`update_time`
        FROM ldp_orders WHERE id = #{id}
    </select>

    <select id="isExist" resultType="boolean">
        SELECT COUNT(1) > 0
        FROM ldp_orders
        WHERE hash = #{hash} and `state` = 0
    </select>

    <select id="queryApplyList" resultMap="orderResultMap">
        SELECT `id`,`user_id`,`order_type`,`state`,`steps`,`extend_config`,
               `hash`,`current_node`,
               `reason`,`create_time`,`update_time`
        FROM ldp_orders
        <where>
            <if test="queryParam.types != null and queryParam.types.size > 0">
                AND `order_type` IN
                <foreach item="item" index="index" collection="queryParam.types" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="queryParam.states != null and queryParam.states.size > 0">
                AND `state` IN
                <foreach item="item" index="index" collection="queryParam.states" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="queryParam.createStartTime!=null">
                AND `create_time` &gt;= #{queryParam.createStartTime}
            </if>
            <if test="queryParam.createEndTime!=null">
                AND `create_time` &lt;= #{queryParam.createEndTime}
            </if>
            <if test="queryParam.userId != null">
                AND `user_id` = #{queryParam.userId}
            </if>
        </where>
    </select>

    <select id="queryApproveList" resultMap="orderResultMap">
        select o.`id`,o.`user_id`,o.`order_type`,o.`state`,o.`steps`,o.`extend_config`,
        o.`hash`,o.`current_node`,o.`reason`,o.`create_time`,o.`update_time` from ldp_orders o
        inner JOIN (
        SELECT a.`order_id`
        FROM ldp_order_details a
        JOIN ldp_permissions p ON a.role_id = p.role_id
        WHERE p.owner_id = #{queryParam.approveUserId} and p.owner_type = '1' and a.state in ('1','2','3')
        GROUP BY a.`order_id`
        ) sub ON o.id = sub.order_id
        inner join ldp_users u on o.user_id = u.id
        <where>
            <if test="queryParam.username != null">
                AND u.`username` LIKE CONCAT('%', #{queryParam.username}, '%')
            </if>
            <if test="queryParam.types != null and queryParam.types.size > 0">
                AND o.`order_type` IN
                <foreach item="item" index="index" collection="queryParam.types" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="queryParam.states != null and queryParam.states.size > 0">
                AND o.`state` IN
                <foreach item="item" index="index" collection="queryParam.states" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="queryParam.createStartTime!=null">
                AND o.`create_time` &gt;= #{queryParam.createStartTime}
            </if>
            <if test="queryParam.createEndTime!=null">
                AND o.`create_time` &lt;= #{queryParam.createEndTime}
            </if>
        </where>
    </select>

    <update id="update" parameterType="com.dtstep.lighthouse.common.modal.Order">
        UPDATE ldp_orders
        <set>
            <if test="state != null">
                `state` = #{state.state},
            </if>
            <if test="updateTime != null">
                `update_time` = #{updateTime},
            </if>
            <if test="currentNode != null">
                `current_node` = #{currentNode},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="pendCount" resultType="java.lang.Integer">
        SELECT count(1) from ldp_orders a inner join ldp_permissions b on a.current_node = b.role_id
        where b.owner_id = #{userId} and b.owner_type = '1' and a.state='0'
    </select>
</mapper>