<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstep.lighthouse.insights.dao.OrderDao">
    <resultMap id="orderResultMap" type="com.dtstep.lighthouse.insights.modal.Order">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="orderType" column="order_type" typeHandler="com.dtstep.lighthouse.insights.types.OrderTypeEnumTypeHandler"/>
        <result property="state" column="state" typeHandler="com.dtstep.lighthouse.insights.types.OrderStateEnumTypeHandler"/>
        <result property="steps" column="steps" typeHandler="com.dtstep.lighthouse.insights.types.ListConfigTypeHandler"/>
        <result property="extendConfig" column="extend_config" typeHandler="com.dtstep.lighthouse.insights.types.MapConfigTypeHandler"/>
        <result property="hash" column="hash"/>
        <result property="currentNode" column="current_node"/>
        <result property="reason" column="reason"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.dtstep.lighthouse.insights.modal.Order" >
        INSERT INTO ldp_order (`user_id`,`order_type`,`state`,`steps`,`extend_config`,
                                    `hash`,`current_node`,
                                    `reason`,`create_time`,`update_time`) VALUES
        (
            #{userId,jdbcType=INTEGER},
            #{orderType,jdbcType=INTEGER,typeHandler=com.dtstep.lighthouse.insights.types.OrderTypeEnumTypeHandler},
            #{state,jdbcType=INTEGER,typeHandler=com.dtstep.lighthouse.insights.types.OrderStateEnumTypeHandler},
            #{steps,jdbcType=VARCHAR,typeHandler=com.dtstep.lighthouse.insights.types.ListConfigTypeHandler},
            #{extendConfig,jdbcType=VARCHAR,typeHandler=com.dtstep.lighthouse.insights.types.MapConfigTypeHandler},
            #{hash,jdbcType=VARCHAR},
            #{currentNode,jdbcType=INTEGER},
            #{reason,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="queryById" resultMap="orderResultMap">
        SELECT `id`,`user_id`,`order_type`,`state`,`steps`,`extend_config`,
               `hash`,`current_node`,
               `reason`,`create_time`,`update_time`
        FROM ldp_order WHERE id = #{id}
    </select>

    <select id="queryApplyList" resultMap="orderResultMap">
        SELECT `id`,`user_id`,`order_type`,`state`,`steps`,`extend_config`,
               `hash`,`current_node`,
               `reason`,`create_time`,`update_time`
        FROM ldp_order WHERE user_id = #{queryParam.applyUserId}
    </select>

    <select id="queryApproveList" resultMap="orderResultMap">
        select c.* from (SELECT `id`,`user_id`,`order_type`,`state`,`steps`,`extend_config`,
        `hash`,`current_node`,
        `reason`,`create_time`,`update_time`
        FROM ldp_order o
        inner JOIN (
            SELECT a.`order_id`
            FROM ldp_order_detail a
            JOIN ldp_permission p ON a.role_id = p.role_id
            WHERE p.owner_id = #{queryParam.approveUserId} and p.owner_type = '1' and a.state in ('1','2','3')
            GROUP BY a.`order_id`
        ) sub ON o.id = sub.order_id) c left join ldp_user u on c.user_id = u.id
        <where>
            <if test="queryParam.username != null">
                AND `u.username` LIKE CONCAT('%', #{queryParam.username}, '%')
            </if>
            <if test="queryParam.types != null and queryParam.types.size > 0">
                AND `order_type` IN
                <foreach item="item" index="index" collection="queryParam.types" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="queryParam.states != null">
                AND `state` IN
                <foreach item="item" index="index" collection="queryParam.states" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="queryParam.createStartTime!=null">
                AND `create_time` &gt;= #{queryParam.createStartTime}
            </if>
            <if test="queryParam.createEndTime!=null">
                AND `create_time` &lt;= #{queryParam.createEndTime}
            </if>
        </where>
        <bind name="offset" value="(pageNum-1)*pageSize"></bind>
        order by create_time desc
        limit ${offset},#{pageSize}
    </select>

    <update id="update" parameterType="com.dtstep.lighthouse.insights.modal.Order">
        UPDATE ldp_order
        <set>
            <if test="state != null">
                `state` = #{state.state},
            </if>
            <if test="updateTime != null">
                `update_time` = #{updateTime},
            </if>
            <if test="currentNode != null">
                `current_node` = #{currentNode},
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>