<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dtstep.lighthouse.insights.dao.ProjectDao">

    <resultMap id="projectResultMap" type="com.dtstep.lighthouse.common.modal.Project">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="departmentId" column="department_id"/>
        <result property="privateType" column="private_type" typeHandler="com.dtstep.lighthouse.insights.types.PrivateTypeEnumTypeHandler"/>
        <result property="desc" column="desc"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap id="structureResultMap" type="com.dtstep.lighthouse.common.modal.FlatTreeNode">
        <id property="id" column="id"/>
        <id property="pid" column="pid"/>
        <id property="type" column="type"/>
        <id property="title" column="title"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.dtstep.lighthouse.common.modal.Project" >
        INSERT INTO ldp_projects (`title`,`department_id`,`private_type`,`desc`,`create_time`,`update_time`) VALUES
        (
            #{title,jdbcType=VARCHAR},
            #{departmentId,jdbcType=INTEGER},
            #{privateType,jdbcType=INTEGER,typeHandler=com.dtstep.lighthouse.insights.types.PrivateTypeEnumTypeHandler},
            #{desc,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="update" parameterType="com.dtstep.lighthouse.common.modal.Project">
        UPDATE ldp_projects
        <set>
            <if test="title != null">
                `title` = #{title},
            </if>
            <if test="departmentId != null">
                `department_id` = #{departmentId},
            </if>
            <if test="desc != null">
                `desc` = #{desc},
            </if>
            <if test="privateType != null">
                `private_type` = #{privateType.privateType},
            </if>
            <if test="updateTime != null">
                `update_time` = #{updateTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="queryList" resultMap="projectResultMap">
        WITH RECURSIVE cte AS (
        SELECT d.id
        FROM ldp_departments d
        <where>
            <if test="queryParam.departmentIds != null and queryParam.departmentIds.size > 0">
                AND d.id IN
                <foreach item="item" index="index" collection="queryParam.departmentIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        UNION ALL
        SELECT d.id
        FROM ldp_departments d
        JOIN cte ON cte.id = d.pid
        )
        select * from (select `id`,`title`,`department_id`,`private_type`,`desc`,`create_time`,`update_time` from ldp_projects
        <where>
            <if test="queryParam.ids != null and queryParam.ids.size > 0">
                AND id IN
                <foreach item="item" index="index" collection="queryParam.ids" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="queryParam.ids != null and queryParam.ids.size == 0">
                1 != 1
            </if>
            <if test="queryParam.privateType!=null">
                AND private_type = #{queryParam.privateType}
            </if>
            <if test="queryParam.createStartTime!=null">
                AND create_time &gt;= #{queryParam.createStartTime}
            </if>
            <if test="queryParam.createEndTime!=null">
                AND create_time &lt;= #{queryParam.createEndTime}
            </if>
            <if test="queryParam.departmentIds != null and queryParam.departmentIds.size > 0">
                AND department_id IN(
                select id from cte
                )
            </if>
            <if test="queryParam.search != null">
                AND (title LIKE CONCAT('%', #{queryParam.search}, '%') or id = #{queryParam.search})
            </if>
        </where>
        ) a
        <if test="queryParam.ownerId != null">
            inner join (select resource_id from ldp_roles r where r.role_type = '9'
            and r.id IN (select role_id from ldp_permissions where owner_id = #{queryParam.ownerId} and owner_type = '1')) b on a.id = b.resource_id
        </if>
    </select>

    <select id="count">
        WITH RECURSIVE cte AS (
            SELECT d.id
            FROM ldp_departments d
            <where>
                <if test="queryParam.departmentIds != null and queryParam.departmentIds.size > 0">
                    AND d.id IN
                    <foreach item="item" index="index" collection="queryParam.departmentIds" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
            </where>
            UNION ALL
            SELECT d.id
            FROM ldp_departments d
                     JOIN cte ON cte.id = d.pid
        )
        select count(1) from ldp_projects
        <where>
            <if test="queryParam.departmentIds != null and queryParam.departmentIds.size > 0">
                AND department_id IN(select id from cte)
            </if>
            <if test="queryParam.createStartTime!=null">
                AND create_time &gt;= #{queryParam.createStartTime}
            </if>
            <if test="queryParam.createEndTime!=null">
                AND create_time &lt;= #{queryParam.createEndTime}
            </if>
        </where>
    </select>

    <select id="queryById" resultMap="projectResultMap">
        SELECT `id`,`title`,`department_id`,`private_type`,`desc`,`create_time`,`update_time` FROM ldp_projects WHERE id = #{id}
    </select>

    <delete id="deleteById">
        delete from ldp_projects where id = #{id}
    </delete>

    <select id="queryNodeList" resultMap="structureResultMap">
        WITH RECURSIVE tree AS (
            SELECT id, 0 as pid,title, 'project' AS type
            FROM ldp_projects
            <where>
                <if test="ids != null and ids.size > 0">
                    id IN
                    <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
            </where>
            UNION ALL
            SELECT g.id ,g.project_id as pid, g.token, 'group' AS type
            FROM ldp_groups g
                     INNER JOIN tree t ON g.project_id = t.id
            UNION ALL
            SELECT s.id, s.group_id, s.title, 'stat' AS type
            FROM ldp_stats s
                     INNER JOIN tree t ON s.group_id = t.id
        )
        SELECT id,pid,title,type FROM tree
    </select>
</mapper>