<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dtstep.lighthouse.insights.dao.ProjectDao">

    <resultMap id="projectResultMap" type="com.dtstep.lighthouse.insights.modal.Project">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="departmentId" column="department_id"/>
        <result property="privateType" column="private_type"/>
        <result property="desc" column="desc"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.dtstep.lighthouse.insights.modal.Project" >
        INSERT INTO ldp_stat_project (`title`,`department_id`,`private_type`,`desc`,`create_time`,`update_time`) VALUES
        (
            #{title,jdbcType=VARCHAR},
            #{departmentId,jdbcType=INTEGER},
            #{privateType,jdbcType=INTEGER},
            #{desc,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="queryList" resultMap="projectResultMap">
        SELECT * FROM ldp_stat_project
        <where>
            <if test="queryParam.id!=null">
                AND id = #{queryParam.id}
            </if>
            <if test="queryParam.departmentId!=null">
                AND department_id = #{queryParam.departmentId}
            </if>
            <if test="queryParam.privateType!=null">
                AND private_type = #{queryParam.privateType}
            </if>
            <if test="queryParam.createStartTime!=null">
                AND create_time &gt;= #{queryParam.createStartTime}
            </if>
            <if test="queryParam.createEndTime!=null">
                AND create_time &lt;= #{queryParam.createEndTime}
            </if>
        </where>
        <bind name="offset" value="(pageNum-1)*pageSize"></bind>
        limit ${offset},#{pageSize}
    </select>
</mapper>