<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dtstep.lighthouse.insights.dao.RelationDao">
    <resultMap id="relationResultMap" type="com.dtstep.lighthouse.insights.modal.Relation">
        <result property="id" column="id"/>
        <result property="subjectId" column="subject_id"/>
        <result property="relationType" column="relation_type" typeHandler="com.dtstep.lighthouse.insights.types.RelationTypeEnumTypeHandler"/>
        <result property="resourceTitle" column="resource_title"/>
        <result property="resourceId" column="resource_id"/>
        <result property="resourceType" column="resource_type" typeHandler="com.dtstep.lighthouse.insights.types.ResourceTypeEnumTypeHandler"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.dtstep.lighthouse.insights.modal.Relation" >
        INSERT INTO ldp_relations (`subject_id`, `relation_type`,`resource_id`, `resource_type`,`hash`, `create_time`,`update_time`) VALUES
        (
            #{subjectId,jdbcType=INTEGER},
            #{relationType,jdbcType=INTEGER,typeHandler=com.dtstep.lighthouse.insights.types.RelationTypeEnumTypeHandler},
            #{resourceId,jdbcType=INTEGER},
            #{resourceType,jdbcType=INTEGER,typeHandler=com.dtstep.lighthouse.insights.types.ResourceTypeEnumTypeHandler},
            #{hash,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO ldp_relations (`subject_id`, `relation_type`,`resource_id`, `resource_type`,`hash`,`create_time`,`update_time`) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.subjectId,jdbcType=INTEGER},
            #{item.relationType,jdbcType=INTEGER,typeHandler=com.dtstep.lighthouse.insights.types.RelationTypeEnumTypeHandler},
            #{item.resourceId,jdbcType=INTEGER},
            #{item.resourceType,jdbcType=INTEGER,typeHandler=com.dtstep.lighthouse.insights.types.ResourceTypeEnumTypeHandler},
            #{item.hash,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <update id="update" parameterType="com.dtstep.lighthouse.insights.modal.Relation">
        UPDATE ldp_relations
        <set>
            <if test="updateTime != null">
                `update_time` = #{updateTime},
            </if>
        </set>
        WHERE hash = #{hash}
    </update>

    <select id="queryList" resultMap="relationResultMap">
        SELECT `id`,`subject_id`, `relation_type`,`resource_id`, `resource_type`, `create_time`
        FROM ldp_relations
        <where>
            <if test="subjectId != null">
                AND subject_id = #{subjectId}
            </if>
            <if test="relationType != null">
                AND relation_type = #{relationType.relationType}
            </if>
        </where>
        order by resource_type asc ,create_time desc
    </select>


    <select id="queryJoinList" resultMap="relationResultMap">
        SELECT a.`id`,a.`subject_id`, a.`relation_type`,a.`resource_id`, a.`resource_type`, a.`create_time`,
        CASE
        WHEN a.resource_type = '4' THEN b.title
        WHEN a.resource_type = '6' THEN c.title
        END AS resource_title
        FROM ldp_relations a
        LEFT join ldp_projects b on a.resource_type = '4' and a.resource_id = b.id
        LEFT join ldp_stats c on a.resource_type = '6' and a.resource_id = c.id
        <where>
            <if test="queryParam.subjectId != null">
                AND subject_id = #{queryParam.subjectId}
            </if>
            <if test="queryParam.relationType != null">
                AND relation_type = #{queryParam.relationType.relationType}
            </if>
            <if test="queryParam.search != null">
                AND ((a.resource_type = '4' AND p.title LIKE CONCAT('%', #{queryParam.search}, '%'))
                OR (a.resource_type = '6' AND s.title LIKE CONCAT('%', #{queryParam.search}, '%')))
            </if>
        </where>
        order by resource_type asc ,create_time desc
    </select>


    <select id="queryById" resultMap="relationResultMap">
        SELECT `id`,`subject_id`, `relation_type`,`resource_id`, `resource_type`, `create_time` FROM ldp_relations WHERE id = #{id}
    </select>

    <delete id="deleteById">
        delete from ldp_relations where id = #{id}
    </delete>

    <select id="queryListByPage" resultMap="relationResultMap">
        SELECT r.`id`,r.`subject_id`, r.`relation_type`,r.`resource_id`, r.`resource_type`, r.`create_time`
        FROM ldp_relations r
        LEFT JOIN ldp_projects p ON r.resource_type = '4' AND r.resource_id = p.id
        LEFT JOIN ldp_stats s ON r.resource_type = '6' AND r.resource_id = s.id
        <where>
            <if test="queryParam.subjectId != null">
                AND subject_id = #{queryParam.subjectId}
            </if>
            <if test="queryParam.relationType != null">
                AND relation_type = #{queryParam.relationType.relationType}
            </if>
            <if test="queryParam.search != null">
                AND ((r.resource_type = '4' AND p.title LIKE CONCAT('%', #{queryParam.search}, '%'))
                OR (r.resource_type = '6' AND s.title LIKE CONCAT('%', #{queryParam.search}, '%')))
            </if>
        </where>
    </select>

    <select id="isExist" resultType="boolean">
        SELECT COUNT(1) > 0
        FROM ldp_relations
        WHERE hash = #{hash}
    </select>

    <delete id="delete">
        delete
        FROM ldp_relations
        <where>
            <if test="queryParam.subjectId != null">
                AND subject_id = #{queryParam.subjectId}
            </if>
            <if test="queryParam.id != null">
                AND id = #{queryParam.id}
            </if>
            <if test="queryParam.hash != null">
                AND hash = #{queryParam.hash}
            </if>
        </where>
    </delete>


</mapper>