<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dtstep.lighthouse.insights.dao.StatDao">
    <resultMap id="statResultMap" type="com.dtstep.lighthouse.insights.modal.Stat">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="groupId" column="group_id"/>
        <result property="projectId" column="project_id"/>
        <result property="template" column="template"/>
        <result property="timeparam" column="timeparam"/>
        <result property="state" column="state" typeHandler="com.dtstep.lighthouse.insights.types.StatStateEnumTypeHandler"/>
        <result property="randomId" column="random_id"/>
        <result property="expired" column="expired"/>
        <result property="desc" column="desc"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.dtstep.lighthouse.insights.modal.Stat" >
        INSERT INTO ldp_stats (`title`,`group_id`,`project_id`,`template`,`timeparam`,`state`,`random_id`,`expired`,`desc`,`create_time`,`update_time`) VALUES
        (
            #{title,jdbcType=VARCHAR},
            #{groupId,jdbcType=INTEGER},
            #{projectId,jdbcType=INTEGER},
            #{template,jdbcType=VARCHAR},
            #{timeparam,jdbcType=VARCHAR},
            #{state,jdbcType=INTEGER,typeHandler=com.dtstep.lighthouse.insights.types.StatStateEnumTypeHandler},
            #{randomId,jdbcType=BIGINT},
            #{expired,jdbcType=BIGINT},
            #{desc,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="queryById" resultMap="statResultMap">
        SELECT `id`,`title`,`group_id`,`project_id`,`template`,`timeparam`,`state`,`random_id`,`expired`,`desc`,`create_time`,`update_time`
        FROM ldp_stats WHERE id = #{id}
    </select>

    <select id="queryList" resultMap="statResultMap">
        SELECT `id`,`title`,`group_id`,`project_id`,`template`,`timeparam`,`state`,`random_id`,`expired`,`desc`,`create_time`,`update_time`
        from ldp_stats
        <where>
            <if test="queryParam!= null and queryParam.id!=null">
                AND id = #{queryParam.id}
            </if>
            <if test="queryParam!= null and queryParam.projectId!=null">
                AND project_id = #{queryParam.projectId}
            </if>
            <if test="queryParam!= null and queryParam.groupId!=null">
                AND group_id = #{queryParam.groupId}
            </if>
        </where>
    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT count(1) from ldp_stats
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="projectId != null ">
                AND project_id = #{projectId}
            </if>
            <if test="groupId != null">
                AND group_id = #{groupId}
            </if>
        </where>
    </select>

    <select id="queryByProjectId" resultMap="statResultMap">
        SELECT `id`,`title`,`group_id`,`project_id`,`template`,`timeparam`,`state`,`random_id`,`expired`,`desc`,`create_time`,`update_time`
        from ldp_stats where project_id = #{projectId}
    </select>

    <update id="update" parameterType="com.dtstep.lighthouse.insights.modal.Stat">
        UPDATE ldp_stats
        <set>
            <if test="title != null">
                `title` = #{title},
            </if>
            <if test="template != null">
                `template` = #{template},
            </if>
            <if test="timeparam != null">
                `timeparam` = #{timeparam},
            </if>
            <if test="state != null">
                `state` = #{state.state},
            </if>
            <if test="desc != null">
                `desc` = #{desc},
            </if>
            <if test="expired != null">
                `expired` = #{expired},
            </if>
            <if test="updateTime != null">
                `update_time` = #{updateTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        delete from ldp_stats where id = #{id}
    </delete>
</mapper>