<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstep.lighthouse.insights.dao.UserDao">

    <resultMap id="userResultMap" type="com.dtstep.lighthouse.insights.modal.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="department_id" property="departmentId"/>
        <result column="last_time" property="lastTime"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>

    <insert id="insert" parameterType="com.dtstep.lighthouse.insights.modal.User" >
        INSERT INTO ldp_user (`username`,`password`,`phone`,`email`,`department_id`,`state`,`last_time`,`created_time`) VALUES
        (
            #{username,jdbcType=VARCHAR},
            #{password,jdbcType=VARCHAR},
            #{phone,jdbcType=VARCHAR},
            #{email,jdbcType=VARCHAR},
            #{departmentId,jdbcType=INTEGER},
            #{state,jdbcType=INTEGER},
            #{lastTime,jdbcType=TIMESTAMP},
            #{createdTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="queryById" resultMap="userResultMap">
        SELECT * FROM ldp_user WHERE id = #{id}
    </select>

    <select id="queryByUserName" resultMap="userResultMap">
        SELECT * FROM ldp_user WHERE username = #{username}
    </select>

    <select id="queryList" resultMap="userResultMap">
        SELECT * FROM ldp_user WHERE 1 = 1
        <if test="queryParam.id!=null">
            AND id = #{queryParam.id}
        </if>
        <if test="queryParam.state!=null">
            AND state = #{queryParam.state}
        </if>
        <bind name="offset" value="(pageNum-1)*pageSize"></bind>
        limit ${offset},#{pageSize}
    </select>

    <select id="countList" resultType="int">
        SELECT count(1) FROM ldp_user WHERE 1 = 1
        <if test="queryParam.id!=null">
            AND id = #{queryParam.id}
        </if>
        <if test="queryParam.state!=null">
            AND state = #{queryParam.state}
        </if>
    </select>

    <update id="update" parameterType="com.dtstep.lighthouse.insights.modal.User">
        UPDATE ldp_user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="departmentId != null">
                department_id = #{departmentId},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="changePasswd">
        UPDATE ldp_user
        <set>
            <if test="password != null">
                password = #{password},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="changeState">
        UPDATE ldp_user
        <set>
            <if test="userStateEnum != null">
                state = #{userStateEnum.state},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>