<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstep.lighthouse.insights.dao.UserDao">

    <resultMap id="userResultMap" type="com.dtstep.lighthouse.insights.modal.User">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="state" property="state" typeHandler="com.dtstep.lighthouse.insights.types.UserStateEnumTypeHandler"/>
        <result column="department_id" property="departmentId"/>
        <result column="last_time" property="lastTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="isUserNameExist" resultType="boolean">
        SELECT COUNT(1) > 0
        FROM ldp_user
        WHERE username = #{username}
    </select>

    <insert id="insert" parameterType="com.dtstep.lighthouse.insights.modal.User" >
        INSERT INTO ldp_user (`username`,`password`,`phone`,`email`,`department_id`,`state`,`last_time`,`create_time`,`update_time`) VALUES
        (
            #{username,jdbcType=VARCHAR},
            #{password,jdbcType=VARCHAR},
            #{phone,jdbcType=VARCHAR},
            #{email,jdbcType=VARCHAR},
            #{departmentId,jdbcType=INTEGER},
            #{state,typeHandler=com.dtstep.lighthouse.insights.types.UserStateEnumTypeHandler},
            #{lastTime,jdbcType=TIMESTAMP},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="queryById" resultMap="userResultMap">
        SELECT `id`,`username`,`phone`,`email`,`department_id`,`state`,`last_time`,`create_time`,`update_time` FROM ldp_user WHERE id = #{id}
    </select>

    <select id="queryByUserName" resultMap="userResultMap">
        SELECT `id`,`username`,`password`,`phone`,`email`,`department_id`,`state`,`last_time`,`create_time`,`update_time` FROM ldp_user WHERE username = #{username}
    </select>

    <select id="queryList" resultMap="userResultMap">
        WITH RECURSIVE cte AS (
        SELECT d.id
        FROM ldp_department d
        <where>
            <if test="queryParam.departmentIds != null and queryParam.departmentIds.size > 0">
                AND d.id IN (
                <foreach item="item" index="index" collection="queryParam.departmentIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
                )
            </if>
        </where>
        UNION ALL
        SELECT d.id
        FROM ldp_department d
        JOIN cte ON cte.id = d.pid
        )
        SELECT `id`,`username`,`phone`,`email`,`department_id`,`state`,`last_time`,`create_time`,`update_time` FROM ldp_user
        <where>
            <if test="queryParam.id!=null">
                AND id = #{queryParam.id}
            </if>
            <if test="queryParam.username != null">
                AND username LIKE CONCAT('%', #{queryParam.username}, '%')
            </if>
            <if test="queryParam.departmentIds != null and queryParam.departmentIds.size > 0">
                AND department_id IN(
                    select id from cte
                )
            </if>
            <if test="queryParam.states!=null and queryParam.states.size > 0">
                AND state IN
                <foreach item="item" index="index" collection="queryParam.states" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="queryParam.createStartTime!=null">
                AND create_time &gt;= #{queryParam.createStartTime}
            </if>
            <if test="queryParam.createEndTime!=null">
                AND create_time &lt;= #{queryParam.createEndTime}
            </if>
        </where>
        <bind name="offset" value="(pageNum-1)*pageSize"></bind>
        limit ${offset},#{pageSize}
    </select>

    <select id="count" resultType="int" parameterType="com.dtstep.lighthouse.insights.dto.UserQueryParam">
        WITH RECURSIVE cte AS (
        SELECT d.id
        FROM ldp_department d
        <where>
            <if test="queryParam.departmentIds != null and queryParam.departmentIds.size > 0">
                AND d.id IN (
                <foreach item="item" index="index" collection="queryParam.departmentIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
                )
            </if>
        </where>
        UNION ALL
        SELECT d.id
        FROM ldp_department d
        JOIN cte ON cte.id = d.pid
        )
        SELECT count(1) FROM ldp_user
        <where>
            <if test="queryParam.id!=null">
                AND id = #{queryParam.id}
            </if>
            <if test="queryParam.username != null">
                AND username LIKE CONCAT('%', #{queryParam.username}, '%')
            </if>
            <if test="queryParam.departmentIds != null and queryParam.departmentIds.size > 0">
                AND department_id IN(
                select id from cte
                )
            </if>
            <if test="queryParam.states!=null and queryParam.states.size > 0">
                AND state IN
                <foreach item="item" index="index" collection="queryParam.states" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="queryParam.createStartTime!=null">
                AND create_time &gt;= #{queryParam.createStartTime}
            </if>
            <if test="queryParam.createEndTime!=null">
                AND create_time &lt;= #{queryParam.createEndTime}
            </if>
        </where>
    </select>

    <update id="update" parameterType="com.dtstep.lighthouse.insights.dto.UserUpdateParam">
        UPDATE ldp_user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="departmentId != null">
                department_id = #{departmentId},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="changePassword" parameterType="com.dtstep.lighthouse.insights.dto.ChangePasswordParam">
        UPDATE ldp_user
        <set>
            <if test="password != null">
                password = #{password},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="changeState">
        UPDATE ldp_user
        <set>
            <if test="userStateEnum != null">
                state = #{userStateEnum.state},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        delete from ldp_user where id = #{id}
    </delete>
</mapper>