<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtstep.lighthouse.insights.dao.UserMapper">

    <insert id="insert" parameterType="com.dtstep.lighthouse.insights.modal.User" >
        INSERT INTO ldp_user (`username`,`password`,`phone`,`email`,`department_id`,`state`,`last_time`,`created_time`) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
             #{item.username,jdbcType=VARCHAR},
             #{item.password,jdbcType=VARCHAR},
             #{item.phone,jdbcType=VARCHAR},
             #{item.email,jdbcType=VARCHAR},
            #{item.departmentId,jdbcType=INTEGER}
            #{item.state,jdbcType=INTEGER}
            #{item.lastTime,jdbcType=TIMESTAMP}
            #{item.createdTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>
</mapper>