.edit_table_panel{

}

:global{

  .arco-form-item-control{
    min-height: 0 ;
  }

  .arco-select .arco-select-view:hover {
    background: none ;
    border:none ;
  }

  .arco-select .arco-select-view {
    background: none ;
    border:none;
  }

  td {
    border-right:1px solid var(--color-border-1);
    padding:0 0;
  }

  .arco-select-popup .arco-select-option {
    line-height: 25px ;
    font-size: 12px ;
  }

  td:has(.arco-select-view){
    padding: 0 0 ;
    min-height: 0 ;
  }

  .arco-table-td{
    padding: 0 0 ;
    min-height: 0 ;
  }

  .editable-cell{
    height: 23px ;
  }
}

