.edit_panel{

  td {
    cursor: pointer;
    padding: 0 5px !important;
    min-height: 0 !important;
  }

  td:has(.arco-select-view){
    padding: 0 0 !important;
    min-height: 0 !important;
  }

  input{
    padding: 0 7px !important;
  }

}

:global{

  .arco-form-item-control{
    min-height: 0 !important;
  }

  .arco-select .arco-select-view {
    background: none !important;
    border:none !important;
  }

  .arco-select-popup .arco-select-option {
    line-height: 25px !important;
    font-size: 12px !important;
  }

  td:has(.arco-select-view){
    padding: 0 0 !important;
    min-height: 0 !important;
  }

  .editable-cell{
    height: 18px !important;
  }
}

