.edit_panel{

  td{
    cursor: pointer !important;
    padding: 0 2px !important;
    height: 30px;
    min-height: 0 !important;
  }

  input{
    height: 30px;
    padding: 0 7px !important;
  }

  .arco-form-item-control-children{
    min-height: 0 !important;
  }

  .arco-select .arco-select-view {
    background: none !important;
    border:none !important;
  }





}

:global{

  .arco-form-item-control {
    min-height: 0 !important;
  }

  .arco-select-view {
    background: none !important;
    border:none !important;
  }

  .arco-select-popup .arco-select-option {
    line-height: 28px;
    font-size: 12px;
  }

  .group-basic-panel  .columnNameClass input {
    background: none !important;
    border:none !important;
  }

  .arco-select .arco-select-view {
    background: none !important;
    border:none !important;
  }

}
